@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
}

.left-login > h1 {
    color: #FFB58A;
}

.left-login-img{
    position: fixed;
	bottom: 150px;
	left: 200px;
	height: 60%;
}


.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 35px;
    background: #ffffff;
    border-radius: 20px;
}

.card-login > h1 {
    color: #FF0065;
    font-weight: 800;
    margin:0;
    padding: 20px 0.1em;
}

.card-login2 {
    color: #8F8E8E;
    font-weight: 100;
    padding: 10px 0.1em;
    margin: 0 auto;
    text-align: center;

}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px 0.1em;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #615b5b;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #8F8E8E;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94
}

.btn-login{
    width: 40%;
    padding: 10px 0px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
    cursor: pointer;
    background: #fca979;
    box-shadow: 0px 10px 40px -12px #fca979;
    font-weight: 200;
}

.btn-login:hover { 
    background: rgb(255,181,138);
    background: linear-gradient(90deg, rgba(255,181,138,1) 0%, rgba(255,0,101,1) 100%);
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

